body {
    overflow-x: hidden;
    background-color: rgb(202, 220, 236);
}
.sidebar {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    transition: all 0.3s;
}
.sidebar.collapsed {
    transform: translateX(-100%);
}
.main-content {
    margin-left: 250px;
    transition: all 0.3s;
    
}
.main-content.expanded {
    margin-left: 0;
}
.hv1{
    color:white;
    cursor: pointer; 
    text-decoration: none;
}
.hv1:hover{
    color:rgb(42, 88, 216);
    
}
.hv1:active{
    color:rgb(255, 255, 255);
    
}
.con1{
    height:60px;
    width:70vw;
}
#ui2,#ui3,#ui4,#ui5,#ui6,#ui7{
    display: none;
}
.r1{
    padding-top: 25px;
}
.s1{
    font-size: 50px;
}
.c1{
    border-radius: 25px;
    background-color: rgb(229, 255, 246);
    width:35vw;
}
.c1:hover{
    background-color: transparent;
  
}
table th {
    width:500px;
  
}

table, th,td {
    border: 1px solid rgb(130, 131, 132);
    border-style: ridge;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  
@media screen and (max-width: 992px) {
    .sidebar:not(.collapsed) {
        width: 100% !important;
    }
    .main-content {
        margin-left: 0;
    }
    
}
@media screen and (max-width:786px) {
    .con1 {
        height:60px;
        width: 80vw;
        padding: 15px;
        background-color: rgb(240, 241, 242);
        border-color:rgb(225, 221, 221) ;
    }
    .s1{
        font-size: 30px;
    }
    .c1{
        width:85vw;
    }
    .table thead {
        display: none;
      }
      .table tr {
        display: block;
        margin-bottom: 1rem;
        border: 1px solid #ddd;
      }
      .table td {
        display: block;
        text-align: right;
        padding: 0.5rem;
        border-bottom: 1px solid #eee;
      }
      .table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
  }
}